{block content}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <div class="media">
                        <span class="fa fa-bus fa-fw d-flex align-self-center lead"></span>
                        <div class="media-body">
                            <h6 class="mt-2">Autobusy</h6>
                        </div>
                    </div>
                </a>
                <a class="nav-link text-light" href="#">
                    <div class="media">
                        <span class="fa fa-thermometer-2 fa-fw d-flex align-self-center lead"></span>
                        <div class="media-body">
                            <h6 class="mt-2" class="text-white">Tep. senzory</h6>
                        </div>
                    </div>
                </a>
                <a class="nav-link text-light" href="#">
                    <div class="media">
                        <span class="fa fa-trash fa-fw d-flex align-self-center lead"></span>
                        <div class="media-body">
                            <h6 class="mt-2" class="text-white">Kontejnery</h6>
                        </div>
                    </div>
                </a>
            </li>
          </ul>
        </nav>

        <div class="alerts">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Pozor</h4>
                <hr>
                <button class="btn btn-link alert-link" data-toggle="modal" data-target=".bd-example-modal-lg">jdou k vam kuratka</button>
            </div>
        </div>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3 gmap-container" role="main">
            {control map}
        </main>

        {include sidepanel}
      </div>
    </div>
{/block}

{block sidepanel}
    <div id="js-main-sidepanel" class="sidepanel modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            {include '../Sidepanel/default.latte'}
        </div>
    </div>
{/block}

{block scripts}
    {include parent}

    {control map:javascript}

    <script type="text/javascript">
        var stationsPrediction = $('.js-stations-future');
        var predictions = $('.js-prediction');
        stationsPrediction.hide();
        $('#js-main-sidepanel').on('shown.bs.modal', function (e) {
            stationsPrediction.fadeIn('slow');
        });
    </script>

    <script>

        // define colors so text can also be colored
        var colors = ["#00ACE4", "#00D8A5", "#9b59b6", "#F1B719", "#e74c3c"];

        // init Fancychart with Fancychart(width, height, colors, color_deactivated)
        var chart = new Fancychart(100, 60, colors, '#e5e5e5');
        /*
        // change color of text and init pie chart
        document.getElementById('pieText').style.color = colors[0];
        var val = document.getElementById("pieChart").getAttribute('data-value');
        chart.donut("#pieChart", val, colors[0]);

        document.getElementById('barVerticalText').style.color = colors[1];
        var val = document.getElementById("barChartVertical").getAttribute('data-value');
        chart.barVertical("#barChartVertical", val, colors[1]);

        document.getElementById('barVerticalRotateText').style.color = colors[2];
        var val = document.getElementById("barChartVerticalRotate").getAttribute('data-value');
        chart.barVertical("#barChartVerticalRotate", val, colors[2], true);


        document.getElementById('barHorizontalText').style.color = colors[3];
        var val = document.getElementById("barChartHorizontal").getAttribute('data-value');
        chart.barHorizontal("#barChartHorizontal", val, colors[3]);
        */
        document.getElementById('circleText').style.color = colors[4];
        var val = document.getElementById("circleChart").getAttribute('data-value');
        chart.circles("#circleChart", val, colors[4]);

    </script>

{/block}