<script>
    var map;
    function initMap() {
        var mapElement = document.getElementById('map');

        map = new google.maps.Map(mapElement, {
            zoom: parseInt({$zoom}),
            center: {$center|noescape},
            streetViewControl: false,
            fullscreenControl: false,
            mapTypeControlOptions: {
                position: google.maps.ControlPosition.RIGHT_BOTTOM
            },
            zoomControlOptions: {
                position: google.maps.ControlPosition.RIGHT_CENTER
            }
        });
        var iw = new google.maps.InfoWindow();
        var markerList = {};
        
        var openInfoWindow = function(marker){
            iw.setContent(marker.desc);
            iw.open(map, marker);
        };

        var records = {$records|noescape};
        for (var key in records){
            if(!records.hasOwnProperty(key)){
                continue;
            }

            (function(){
                var markerData = records[key];
                var markerImageHtml = markerData.image ? '<img src="' + markerData.image + '" alt="' + markerData.title + '"/>' : '';
                var marker = new google.maps.Marker({
                    position: {
                        lat: parseFloat(markerData.latitude),
                        lng: parseFloat(markerData.longitude)
                    },
                    icon: markerData.marker,
                    optimized: false,
                    map: map,
                    title: markerData.title,
                    draggable: false,
                    animation: google.maps.Animation.DROP,
                    desc: ''
                });
                marker.addListener('click', function() {
                    openInfoWindow(marker);
                });
                markerList[markerData.htmlTargetId] = marker;
            })();
        }

        var scrollListToTop = function() {
            var section = $('.js-map-grid-wrapper').parent();
            var rect = section[0].getBoundingClientRect();
            if (rect.top > 70) {
                $('html,body').animate({ scrollTop: section.offset().top - 70 }, 200);
            }
        };

        $('.js-map-grid-wrapper').on('click', function(e){
            var button = $(e.target).closest('.js-map-record-target');
            if (!button.length) {
                return;
            }

            e.preventDefault();
            var id = button.data('map-id');
            var marker = markerList[id];
            if (undefined === marker) {
                return;
            }

            scrollListToTop();
            map.panTo(marker.getPosition());
            openInfoWindow(marker);
        });
        
        roads(map);
    }
    
    var roads = function(map) {
        
        var avgBusSpeed = 16.6666; // m/s = 60km/h
        
        var lineSymbol = {
            path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
            scale: 3,
            strokeColor: '#393'
        };

        var line = new google.maps.Polyline({
            path: [{
                    lat: 51.4700,
                    lng: 0.4543
                }, {
                    lat: 50.1109,
                    lng: 8.6821
                }],
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 0.5,
            icons: [{
                    icon: lineSymbol,
                    offset: '100%'
                }],
            map: map
        });

        animateCircle(line, 1000);

        /**
         * @param line GMap PolyLine
         * @param pathLenght length in meters
         */
        function animateCircle(line, pathLenght) {
            var count = 0;
            var steps = parseInt(pathLenght / avgBusSpeed);
            var animationInterval = window.setInterval(function () {
                count = (count + 1);
                var icons = line.get('icons');
                icons[0].offset = (count / (steps / 100) ) + '%';
                line.set('icons', icons);
                console.log(count);
                if (count >= steps) {
                    clearInterval(animationInterval);
                }
            }, 1000); // animation speed
        }
    };
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={$googleApiKey}&callback=initMap"></script>
