<script>
    var map;
    function initMap() {
        google.maps.LatLng.prototype.kmTo = function(a){
            var e = Math, ra = e.PI/180;
            var b = this.lat() * ra, c = a.lat() * ra, d = b - c;
            var g = this.lng() * ra - a.lng() * ra;
            var f = 2 * e.asin(e.sqrt(e.pow(e.sin(d/2), 2) + e.cos(b) * e.cos
            (c) * e.pow(e.sin(g/2), 2)));
            return f * 6378.137;
        };

        google.maps.Polyline.prototype.inKm = function(n){
            var a = this.getPath(n), len = a.getLength(), dist = 0;
            for (var i=0; i < len-1; i++) {
                dist += a.getAt(i).kmTo(a.getAt(i+1));
            }
            return dist;
        };

        var mapElement = document.getElementById('map');

        map = new google.maps.Map(mapElement, {
            zoom: parseInt({$zoom}),
            center: {$center|noescape},
            streetViewControl: false,
            fullscreenControl: false,
            mapTypeControlOptions: {
                position: google.maps.ControlPosition.RIGHT_BOTTOM
            },
            zoomControlOptions: {
                position: google.maps.ControlPosition.RIGHT_CENTER
            }
        });
        var iw = new google.maps.InfoWindow();
        var markerList = {};
        var snappedCoordinates = [];
        var lines = [];

        var records = {$records|noescape};
        for (var ri = 0; ri < records.length; ri++){
            var road = records[ri];
            var lineSymbol = {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 8,
                strokeOpacity: 1,
                strokeColor: road.busColor
            };
            console.log(road.busIcon);
            var directPolyline = new google.maps.Polyline({
                strokeColor: road.color,
                strokeOpacity: 0.5,
                strokeWeight: 4,
                icons: [{
                    icon: lineSymbol,
                    optimized: false
                }]
            });
            for (var rp = 0; rp < road.points.length; rp++) {
                var point = road.points[rp];
                (function(){
                    var latLng = new google.maps.LatLng(parseFloat(point.latitude), parseFloat(point.longitude));
                    var path = directPolyline.getPath();
                    path.push(latLng);
                    
//                    var markerData = point;
//                    var markerImageHtml = markerData.image ? '<img src="' + markerData.image + '" alt="' + markerData.title + '"/>' : '';
//                    var marker = new google.maps.Marker({
//                        position: latLng,
//                        icon: markerData.marker,
//                        optimized: false,
//                        map: map,
//                        title: markerData.title,
//                        draggable: false,
//                        animation: google.maps.Animation.DROP,
//                        desc: markerData.title
//                    });
                })();
            }
            directPolyline.setMap(map);
            lines.push(directPolyline);
        }

        roads(map, lines);
//        runSnapToRoad(lines[0].getPath());

        // Snap a user-created polyline to roads and draw the snapped path
        function runSnapToRoad(path) {
            var splitted = 0;
            var counter = 0;
            var pathValues = [];
            for (var i = 0; i < path.getLength(); i++) {
                if (!Array.isArray(pathValues[splitted])) {
                    pathValues[splitted] = [];
                }

                pathValues[splitted].push(path.getAt(i).toUrlValue());
                counter++;
                if (counter >= 100) {
                    splitted++;
                    counter = 0;
                }
            }

            var funcs = [];
            for (var j = 0; j < pathValues.length; j++) {
                var genFunc = (function(data){
                    return $.get('https://roads.googleapis.com/v1/snapToRoads', {
                        interpolate: true,
                        key: {$googleApiKey},
                        path: data.join('|')
                    });
                })(pathValues[j]);
                funcs.push(genFunc);
            }

            $.when.apply($, funcs).done(function(){
                for (var i = 0; i < arguments.length; i++) {
                    processSnapToRoadResponse(arguments[i][0]);
                }
                drawSnappedPolyline();
            });
        }
    
        // Store snapped polyline returned by the snap-to-road service.
        function processSnapToRoadResponse(data) {
            for (var i = 0; i < data.snappedPoints.length; i++) {
                var latlng = new google.maps.LatLng(
                    data.snappedPoints[i].location.latitude,
                    data.snappedPoints[i].location.longitude
                );
                snappedCoordinates.push(latlng);
            }
        }
    
        // Draws the snapped polyline (after processing snap-to-road response).
        function drawSnappedPolyline() {
            $('body').html(JSON.stringify(snappedCoordinates));
            var snappedPolyline = new google.maps.Polyline({
                path: snappedCoordinates,
                strokeColor: '#00FF00',
                strokeWeight: 3
            });
            snappedPolyline.setMap(map);
        }
    }
    
    var roads = function(map, lines) {
        
        var avgBusSpeed = 12.6666; // m/s = 60km/h
        
        var lineSymbol = {
            path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
            scale: 3,
            strokeColor: '#393'
        };

        var line = new google.maps.Polyline({
            path: [{
                    lat: 51.4700,
                    lng: 0.4543
                }, {
                    lat: 50.1109,
                    lng: 8.6821
                }],
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 0.5,
            icons: [{
                    icon: lineSymbol,
                    offset: '100%'
                }],
            map: map
        });
//        animateCircle(line, 1000);

        function getRandomArbitrary(min, max) {
            return Math.random() * (max - min) + min;
        }
        var startFrom;
        for (var i = 0; i < lines.length; i++) {
            startFrom = i > 0 ? getRandomArbitrary(15, 40) : 0; // mock start
            animateCircle(lines[i], lines[i].inKm() * 1000, startFrom);
        }

        /**
         * @param line GMap PolyLine
         * @param pathLenght length in meters
         * @param startFrom
         */
        function animateCircle(line, pathLenght, startFrom) {
            var steps = parseInt(pathLenght / avgBusSpeed);
            var count = steps / 100 * startFrom;
            var animationInterval = window.setInterval(function () {
                count = (count + 1);
                var icons = line.get('icons');
                icons[0].offset = (count / (steps / 100) ) + '%';
                line.set('icons', icons);
//                console.log(count);
                if (count >= steps) {
                    clearInterval(animationInterval);
                }
            }, 1000); // animation speed
        }
    };
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={$googleApiKey}&callback=initMap"></script>
