<table class="js-stations-current timeline">
    <tbody>
        <tr>
            <td>5</td>
            <td>
                <strong>Zastávka 1</strong> <br>
                <small>Jméno zastávky</small>
            </td>
        </tr>
        <tr>
            <td>18</td>
            <td>
                <strong>Zastávka 2</strong> <br>
                <small>Jméno zastávky</small>
            </td>
        </tr>
        <tr>
            <td>12</td>
            <td>
                <strong>Zastávka 3</strong> <br>
                <small>Jméno zastávky</small>
            </td>
        </tr>
        <tr class="current">
            <td class="text-warning">36</td>
            <td>
                <strong>Zastávka 4</strong> <br>
                <small>Jméno zastávky</small>
            </td>
        </tr>
    </tbody>
</table>

<table class="js-stations-future timeline timeline--future">
    <thead>
        <th colspan="2" class="timeline__strike">
            <span>
                Predikce
            </span>
        </th>
    </thead>
    <tbody>
        <tr>
            <td class="text-danger">56</td>
            <td>
                <strong>Zastávka 5</strong> <br>
                <small>Jméno zastávky</small>
            </td>
        </tr>
        <tr>
            <td class="text-danger font-weight-bold">64</td>
            <td>
                <strong>Zastávka 6</strong> <br>
                <small>Jméno zastávky</small>
            </td>
        </tr>
        <tr>
            <td class="text-danger font-weight-bold">30</td>
            <td>
                <strong>Zastávka 7</strong> <br>
                <small>Jméno zastávky</small>
            </td>
        </tr>
    </tbody>
</table>